body {
  background-color: hsl(0, 43%, 51%);
  color: rgb(255, 123, 255);
  padding:10px;
}

.born {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-style: double;
  border-width: 3px;
  border-color: white;
  padding: 5px;
  background-color: hsla(89, 43%, 51%, 0.3);
}

.Design 1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-style: double;
  border-width: 3px;
  border-color: white;
  padding: 5px;
  background-color: #d5f4e6;
}

p.Design 1 {
  border-style: dotted;
  border-color: white;
  border-width: thin;
}

.Design 2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-style: double;
  border-width: 3px;
  border-color: white;
  padding: 5px;
  background-color: #d5f4e6;
}

p.Design 2 {
  border-style: dotted;
  border-color: white;
  border-width: thin;
}
