@font-face {
  font-family: 'GamjaFlower-Regular', serif;
  src: url('./fonts/GamjaFlower-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Pacifico-Regular', serif;
  src: url('./fonts/Pacifico-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  }
